.Footer{
    background-color: rgba(2, 14, 24, 0.9);
    color: aliceblue;
    width: 100%;
    display: flex;
    bottom: 0;
    padding: 30px;
    justify-content: center;
}

.Footer h2{
    font-size: 20px;
}
@media (max-width:750px){
    .Footer{
        display: flex;
        position: relative;
        bottom: 0;
    }
    .Footer h2{
        font-size: 10px;
    }
}