.Navbar {
  display: flex;
  width: 100%;
  max-height: 60px;
  background-image: linear-gradient(62deg, #1d3954 0%, #493f52 100%);
}


.page {
  width: 100%;
  padding: 20px;
  padding-left: 100px;
  display: flex;
  align-items: center;
}

/* .l1 {
  margin-left: -80%;
  padding: 5px 8px;
  transition: 0.2s;
  display: flex;
  background-image: linear-gradient(135deg, #476f8a 0%, #595b8e 100%);
  border-radius: 7px;
  font-size: 18px;
  letter-spacing: 1px;
  color: rgb(249, 249, 249);
  font-family: "DynaPuff", cursive;
} 
 .l1:hover {
  background-image: none;
  background: rgba(255, 255, 255, 0.92);
  color: rgb(29, 90, 160);
}
.l1:active {
  scale: 0.95;
}
.l2 {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 8px;
  background-image: linear-gradient(135deg, #476f8a 0%, #595b8e 100%);
  transition: 0.4s;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  font-size: 18px;
  border-radius: 7px;
  font-family: "DynaPuff", cursive;
}
.l2:hover {
  background-image: none;
  background: rgba(255, 255, 255, 0.92);
  color: rgb(29, 90, 160);
}
.l2:active {
  scale: 0.95;
}
.l3 {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 8px;
  background-image: linear-gradient(135deg, #476f8a 0%, #595b8e 100%);
  transition: 0.4s;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  font-size: 18px;
  border-radius: 7px;
  font-family: "DynaPuff", cursive;
}
.l3:hover {
  background-image: none;
  background: rgba(255, 255, 255, 0.92);
  color: rgb(29, 90, 160);
}
.l3:active {
  scale: 0.95;
} */


.link{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    margin-right: 30px;
    font-family: "DynaPuff", cursive;
    transition: 0.5s;
}
.link:hover{
    color: white;
    scale: 1.1;
}

.link::after{
    content: '';
    background: rgb(255, 217, 0);
    display: block;
    width: 0%;
    height: 2px;
    transition: 0.5s;
}
.link:hover::after{
    content: '';
    background: rgb(255, 217, 0);
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    height: 2px;
    
}




























@media (max-width: 800px) {
  .page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .l1,
  .l2,
  .l3 {
    font-size: 12px;
    font-weight: bold;
    position: absolute;
  }
  .l1 {
    margin-left: -270px;
  }
  .l2 {
    margin-left: -110px;
  }
  .l3 {
    margin-left: 65px;
  }
}
