
.body {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  background: linear-gradient(45deg, rgb(61, 101, 161), rgb(227, 192, 192));
}

.card {
  position: relative;
  width: 550px;
  height: 300px;
  border-radius: 20px;
  border: none;
  box-shadow: -15px 10px 25px 5px rgba(0, 0, 0, 0.4);
  margin: 120px 0px;
  transition: 0.5s;
  background: linear-gradient(45deg, rgba(2, 80, 237, 0.146), rgba(125, 125, 244, 0.265));
}

.card:hover {
  height: 500px;
  transition: 0.5s;
  .details{
    height: 200px;
    padding: 0px !important;
    transition: 0.5s;
  }
}

.imgbox {
  position: absolute;
  background-color: rgb(255, 255, 255);
  left: 50%;
  transform: translate(-50%);
  top: -20%;
  width: 250px;
  height: 250px;
  z-index: 1;
  border-radius: 200px;
  transition: 0.5s;
  box-shadow: -10px 5px 30px 0px rgba(0, 0, 0, 0.5);
  object-fit: cover;
  overflow: hidden;
  border: none;
}

.imgbox img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: none;
}

.card:hover .imgbox {
  height: 400px;
  width: 400px;
  border-radius: 20px;
  transition: 0.5s;
}

.card .content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  transition: 0.5s;

}
.card .content .details {
  text-align: center;
  width: 100%;
  transition: 0.5s;
  margin-bottom: -55px;
}


.card .content .details h2 {
  font-size: 1.75em;
  font-weight: 600;
  color: rgb(255, 255, 255);
  line-height: 1.2em;
  transition: 0.5s;
}
.card .content .details h2 span {
  font-size: 0.75em;
  font-weight: 500;
  opacity: 0.7;
  transition: 0.5s;
}

.card .content .details .data {
  display: flex;
  justify-content: space-between;
  margin: 0 200px;
  align-items: center;
  transition: 0.5s;
}

.card .content .details .data img{
  display: flex;
  width: 50px;
  transition: 0.5s;
}
.card .content .details .data img:hover{
  scale: 1.5;
}
.card .content .details .data img:active{
  scale: 1.1;
}



