



::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0.74);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.676);
}
.main-container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
}
.App1{
  display: flex;

  flex-direction: column;
  min-height: 100vh;
  background-color: black;
}

/* preloader */
/* 
#preloader {
  background: rgb(5, 5, 5) url(./components/assets1/new1.gif) no-repeat center;
  height: 100vh;
  width: 100%;
  position: fixed;
  background-size:  200px;
  z-index: 100;
  transition: 0.7s;
}

@media (max-width: 500px) {
  #preloader {
    background: black url(./components/assets1/new1.gif) no-repeat center;
    position: fixed;
    height: 100vh;
    background-position-y: 270px;
    background-size: 150px;
    width: 100%;
    z-index: 100;
    transition: 0.7s;
  }
} */
